@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai+2&family=Dancing+Script&display=swap');
.editorContainer {
  color: black;
  width: 80vw;
  margin: 10px auto;
}
.editorContainer .top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}
.mainHeading {
  color: #E0C097;
  text-align: center;
  font-size: 3.8rem;
  margin: 20px auto;
  font-family: 'Dancing Script', cursive;
  letter-spacing: 2px;
}
